services:
  - type: web
    name: lumina-ai
    env: python
    rootDirectory: lumina_ai
    buildCommand: ./build.sh
    startCommand: ./start.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: 'False'
      - key: RENDER_EXTERNAL_HOSTNAME
        sync: false
